<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MagazynButow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MagazynButow.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="database" serializeAs="String">
                <value>magazyn_butow</value>
            </setting>
            <setting name="userID" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>123456</value>
            </setting>
        </MagazynButow.Properties.Settings>
    </applicationSettings>
</configuration>